.block1{
    justify-content: left;
    align-items: flex-start;
}

.block1 .menu{
    width: 200px;
}


.block1 .menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.125em;
    margin-bottom: 10px;
    padding: 7px 15px;

}

.block1 .menu a:hover,
.block1 .menu a:active{
    color: white;
    font-weight: bold;
    background-color:rgb(246,4,1);
    padding: 7px 15px;
    border-radius: 25px;

}

.block1 .items{
    padding-left: 25px;
    
}

.block1 .items .sort p{
    color:black;
    font-size: 0.875em;
    margin-top: 12px;
    margin-left: 25px;
    margin-bottom: 25px;
}


.block1 .items .sort p a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    width: 65px;
    background: url("../images/main/icons8-шеврон-вверх-100.png") no-repeat;
    background-position: 100% 50%;
    background-size: 20px;
}

.block1 .items .sort p a:hover,
.block1 .items .sort p a.active {
    background: url("../images/main/icons8-шеврон-вниз-100.png") no-repeat;
    color: rgb(246,4,1);
    font-weight: 600;
    background-position: 100% 50%;
    background-size: 20px;


}

.block1 .items .boxes{
    flex-wrap: wrap;
}

.block1 .items .boxes .box{
    margin-bottom: 20px;
}

.box figure figcaption{
    padding-left: 23px;
    color: black;  
}

.box figure figcaption p{
    font-size: 0.938em;
}

.box figure figcaption p span{
    font-size: 1.250em;
    font-weight: 600;
}

.box .title{
    color: black;
    font-size: 0.9em;
    padding-left: 23px;
    margin-top: 10px;

}

.box button{
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    background-color: rgb(246,4,1);
    color: white;
    margin-top: 15px;
    border: none;
}

.box button:hover{
    cursor: pointer;
}

.box img{
    width: 270px;
    height: 363px;
    object-fit:contain;
}


